.breadcrumbs {
	display: flex;
	flex-direction: row;

	ol {
		/* color: var(--gray-6); */
		list-style: none;
		display: inline-flex;
		flex-direction: row;
		padding-inline-start: 0;
	}

	li {
		text-transform: uppercase;
		font-weight: 300;
		font-style: italic;
		font-kerning: 30rem;

	}
}

.separator {
	font-style: italic;
	color: var(--accent-6);
	margin: 0 0.33rem;
}

.link {
	/* color: var(--gray-10); */
	transition: color 0.4s ease;

	&:hover {
		color: var(--gray-11);
	}
}